.App {
  text-align: center;
  font-family: "Helvetica", "Arial", sans-serif;
}

.App-link {
  color: #61dafb;
}

.logo-size {
  width: 3rem;
  height: 2rem;
}

.small-font {
  font-size: 0.75rem;
}

.website-title {
  font-size: 1.5rem;
  font-weight: bold; 
  color: white; 
}

.Header {
  position: fixed; 
  width: 100%;
  z-index: 1;
}

.yellow-highlight {
  background-color: yellow
}

.no-margin-bottom {
  margin-bottom: 0px;
}

.space-out {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.round-border{
  border-radius: 50%;
  border: white 2px solid;
  box-shadow: 0px 0px 5px gray;
}

.half-width-in-form {
  width: 50%;
  margin: auto;
  text-align: left;
  margin-bottom: 0.5rem;
}

.small {
  width: 2.5rem;
  height: 2.5rem;
}

.normal-size{
  width: 4.6875rem;
  height: 4.6875rem;
}

.large{
  width: 9.375rem;
  height: 9.375rem;
}

.extra-large{
  width: 18.75rem;
  height: 18.75rem;
}

.follow-nav {
  width: 50%;
  margin: auto;
}

.follow-nav-selected {
  font-weight: bold; 
  color: white;
  background-color: #007bff;
}

.follow-button {
  margin-bottom: 0.5rem;
}

.like-button {
  display: inline-block;
  font-weight: 100;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .05rem .1rem;;
  font-size: .8rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.outline-primary {
  color: #007bff;
  border-color: #007bff;
}

.word-row {
  width: 50%;
  margin: auto;
  text-align: left;
  border-top: gray 1.5px solid;
  border-bottom: gray 1.5px solid;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  background-color: #f6f6f4;
}

.user-row {
  width: 50%;
  margin: auto;
  text-align: left;
  border-top: gray 1.5px solid;
  border-bottom: gray 1.5px solid;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #f6f6f4;
}

.comment-row {
  width: 95%;
  margin: auto;
  text-align: left;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.username-follow {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 0.5rem 0.5rem 0;
}

.row-image {
  width: 4.375rem;
  height: 4.375rem;
  float: left;
  border-radius: 50%;
  margin-right: 1rem;
  margin-left: 0.25rem;
}

.user-row-image {
  width: 5rem;
  height: 5rem;
  float: left;
  border-radius: 50%;
  margin-right: 1rem;
  margin-left: 0.25rem;
}

.comment-row-image {
  width: 1.75rem;
  height: 1.75rem;
  float: left; 
  border-radius: 50%;
  margin-right: 0.25rem;
  margin-left: 0px;
}

.comment-text {
  width: 90%;
  margin: 0 0 0 2rem;
  padding: 0.5rem;
  background-color: #ade0ff;
  border-radius: 20px;
}

.indentation {
  margin-left:2.5rem;
}

.comment-input {
  display: inline-block;
  width: 95%;
  margin: auto; 
  background-color: #f6f6f4;
}

.object-details {
  width: 50%;
  margin: auto; 
  border: gray 2px solid; 
  border-radius: 30px;
  padding: 0.5rem;
  background-color: #f6f6f4;
}

.user-details-image {
  float: left;
  margin-left: 1rem;
  margin-right: 1rem;
}

.word-text {
  width: 90%;
  margin: 0px auto 0.5rem auto;
  padding: 0.5rem;
  background-color: #ade0ff;
  border-radius: 20px;
}

.white-text {
  color: white; 
}

.sky-background {
  background-color: #ade0ff;
}

.no-space-top-bottom {
  padding-top: 0px;
  border-top: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  border-bottom: 0px;
  margin-bottom: 0px;
}

/* 吹き出し本体 */
.speech-bubble{
  width: 65%;
  position: relative; 
  left: 12rem;
  padding: 1.5rem; 
  background-color: #ade0ff;
  border-radius: 30px;
}

/* 大きい丸 */
.speech-bubble::before{
  content: '';
  position: absolute;
  display: block;
  border-radius: 50%;
  background-color: #ade0ff;
  left: -2.275rem;
  top: 0.5rem;
  width: 2rem;
  height: 2rem;
}

/* 小さい丸 */
.speech-bubble::after{
  content: '';
  position: absolute;
  display: block;
  border-radius: 50%;
  background-color: #ade0ff;
  left: -3.4375rem;
  top: 0.125rem;
  width: 1rem;
  height: 1rem;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
