.App {
  text-align: center;
  font-family: "Helvetica", "Arial", sans-serif;
}

.App-link {
  color: #61dafb;
}

.Header {
  position: fixed; 
  width: 100%;
}

.yellow-highlight {
  background-color: yellow
}

.no-margin-bottom {
  margin-bottom: 0px;
}

.space-out {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.round-border{
  border-radius: 50%;
  border: white 2px solid;
  box-shadow: 0px 0px 5px gray;
}

.half-width-in-form {
  width: 50%;
  margin: auto;
  text-align: left;
  margin-bottom: 0.5rem;
}

.small {
  width: 2.5rem;
  height: 2.5rem;
}

.normal-size{
  width: 4.6875rem;
  height: 4.6875rem;
}

.large{
  width: 9.375rem;
  height: 9.375rem;
}

.extra-large{
  width: 18.75rem;
  height: 18.75rem;
}

.word-row {
  width: 50%;
  margin: auto;
  text-align: left;
  border-top: gray 1.5px solid;
  border-bottom: gray 1.5px solid;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  background-color: #f6f6f4;
}

.row-image {
  width: 4.375rem;
  height: 4.375rem;
  float: left;
  border-radius: 50%;
  margin-right: 1rem;
  margin-left: 0.25rem;
}

.object-details {
  width: 50%;
  margin: auto; 
  border: gray 2px solid; 
  border-radius: 30px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #f6f6f4;
}

.user-details-image {
  float: left;
  margin-left: 1rem;
  margin-right: 1rem;
}

/* 吹き出し本体 */
.speech-bubble{
  width: 65%;
  position: relative; 
  left: 12rem;
  padding: 1.5rem; 
  background-color: #ade0ff;
  border-radius: 30px;
}

/* 大きい丸 */
.speech-bubble::before{
  content: '';
  position: absolute;
  display: block;
  border-radius: 50%;
  background-color: #ade0ff;
  left: -2.275rem;
  top: 0.5rem;
  width: 2rem;
  height: 2rem;
}

/* 小さい丸 */
.speech-bubble::after{
  content: '';
  position: absolute;
  display: block;
  border-radius: 50%;
  background-color: #ade0ff;
  left: -3.4375rem;
  top: 0.125rem;
  width: 1rem;
  height: 1rem;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
